<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>amtlib</string>
	<key>CFBundleGetInfoString</key>
	<string>amtlib 6.2.0.42, Copyright 2006-2012 Adobe Systems Incorporated. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.adobe.amtlib</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>amtlib</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>amtlib 6.2.0.42</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>6.2.0.42</string>
	<key>ProductVersion</key>
	<string>6.2.0.42 (BuildVersion: 6.2; BuildDate: Wed Aug 22 2012 18:00:00)</string>
</dict>
</plist>
